.menu {
    background-color: lightblue;
    color: white;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}
.logo {
    color: blue;
    font-size: 24pt;
    height: 30px;
}
.text {
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
}
.ulhref{
    text-decoration: black;
}